%h1 Listing xpaths

%table
  %tr
    %th Topic Name
    %th{:colspan => "3"} Action
    %th
    %th

  - @xpaths.each do |xpath|
    %tr
      %td= xpath.topic.try(:name)
      %td= link_to 'Show', xpath,:class=>"btn btn-info"
      %td= link_to 'Edit', edit_xpath_path(xpath),:class=>"btn btn-warning"
      %td= link_to 'Destroy', xpath, :method => :delete, :data => { :confirm => 'Are you sure?' },:class=>"btn btn-danger"

%br

= link_to 'New Xpath', new_xpath_path,:class=>"btn btn-primary"
