%h1 Listing ajaxes

%table.table-striped
  %tr
    %th Topic Name
    %th{:colspan => "3"} Action
    %th
    %th
  - @ajaxes.each do |ajax|
    %tr
      %td= ajax.topic.try(:name)
      %td= link_to 'Show', ajax ,:class=>"btn btn-info"
      %td= link_to 'Edit', edit_ajax_path(ajax),:class=>"btn btn-warning"
      %td= link_to 'Destroy', ajax, :method => :delete, :data => { :confirm => 'Are you sure?' },:class=>"btn btn-danger"

%br

= link_to 'Add Ajax Notes', new_ajax_path,:class=>"btn btn-primary"
