%h1 Listing gits

%table
  %tr
    %th Topic Name
    %th{:colspan => "3"} Action
    %th
    %th

  - @gits.each do |git|
    %tr
      %td= git.topic.try(:name)
      %td= link_to 'Show', git,:class=>"btn btn-info"
      %td= link_to 'Edit', edit_git_path(git),:class=>"btn btn-warning"
      %td= link_to 'Destroy', git, :method => :delete, :data => { :confirm => 'Are you sure?' },:class=>"btn btn-danger"

%br

= link_to 'New Git', new_git_path,:class=>"btn btn-primary"
